<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Movie Reviews</title>
  </head>

  <body>
    <h1>My Movie Reviews</h1>

    <!-- TMDB → DB 저장 버튼 -->
    <form method="post" action="{% url 'reviews:tmdb_sync' %}">
      {% csrf_token %}
      <button type="submit">TMDB 인기 영화 20개 불러오기</button>
    </form>

    <br />

    <a href="{% url 'reviews:create' %}">리뷰 작성</a>

    <div>
      <br />
      <strong>정렬:</strong>
      <a href="{% url 'reviews:list' %}?sort=year_desc">최신순</a> |
      <a href="{% url 'reviews:list' %}?sort=year_asc">오래된순</a> |
      <a href="{% url 'reviews:list' %}?sort=rating_desc">별점 높은순</a> |
      <a href="{% url 'reviews:list' %}?sort=rating_asc">별점 낮은순</a> |
      <a href="{% url 'reviews:list' %}?sort=title_asc">제목순</a> |
      <a href="{% url 'reviews:list' %}?sort=title_desc">제목 역순</a>
    </div>

    <ul>
      {% for r in reviews %}
      <li>
        {% if r.is_from_tmdb %} {% else %} {% endif %}

        <a href="{% url 'reviews:detail' r.pk %}"> {{ r.title }} </a>
        ({{ r.release_year }}) / {{ r.genre }} / ★{{ r.rating }}
      </li>
      {% empty %}
      <li>아직 리뷰가 없습니다.</li>
      {% endfor %}
    </ul>
  </body>
</html>
