<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Idea Site</title>
</head>

<body style="background-color: #ffffff;">

    <nav style="text-align: center; font-size: 1.4rem; display:flex; justify-content: space-around; padding: 0 100px;">
        <div style="margin-right: 100px;">
            My SW Ideas Manage
        </div>
        <a href="{% url 'ideas:create' %}" style="color: #000; text-decoration: none;">아이디어 등록</a>
        <a href="{% url 'home' %}" style="color: #000; text-decoration: none;">아이디어 관리</a>
        <a href="{% url 'devtools:create' %}" style="color: #000; text-decoration: none;">개발툴 등록</a>
        <a href="{% url 'devtools:main' %}" style="color: #000; text-decoration: none;">개발툴 관리</a>
    </nav>

    <hr>

    {% block content %}{% endblock %}

    <!-- CSRF 토큰 JS -->
    <script>
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
        const csrftoken = getCookie('csrftoken');
    </script>

</body>

</html>