.top {}
.top img {}
.top .list {}
.cohort {}
.cohort .twenty-three {}
.cohort .twenty-one {}
.interview {}
.interview .interview_box {}
.interview .interview_box .more {}
.interview .interview_box .interview_box_top {}
.interview .interview_box .interview_box_top .interview_box_top_right {}
.interview .interview_box .interview_box_top .interview_box_top_right .name {}
.interview .interview_box .interview_box_top .interview_box_top_right .major {}
.interview .interview_box .interview_box_bottom {}
.footer_top {}
.footer_top .footer_top_left {}
.footer_top .footer_top_left .rule {}
.footer_top .footer_top_left .img {}
.footer_top .footer_top_left .mail {}
.footer_top .footer_top_right {}
.footer_top .footer_top_right .list {}
.footer_top .footer_top_right .list {}
.footer_bottom {}

