.top {
    width: 1000px; margin: auto; padding: 10px;
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
}
.top .top_left img {}
.top .top_right {padding: 5px; padding-top: 12px; margin-left:auto;}
.top .top_right .list {
    padding: 5px; text-align: center; margin: 0 auto; color: #ffffff;
    display: inline-block;
}
.top .top_right #color {
    color: #0BEC12;
}
.top .top_right .list:hover {
    transform: translateY(-2px);
}
.portfolio {
    max-width: 1000px; width: 100%; color: #ffffff;
    display: grid; margin: auto;
    padding: 20px;
}
.portfolio .portfolio_box { 
    background-color: #333333;
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    border-radius: 15px;
    margin-bottom: 15px;
}
@media (max-width: 650px) {
    .portfolio .portfolio_box {
        display: grid; justify-content: center;
        text-align: center;
    }
}
.portfolio .portfolio_box:hover {
    transform: translateY(-2px);
} 
.portfolio .portfolio_box:hover img{
    transform: scale(1.15);
}   
.portfolio .portfolio_box:hover .more div:nth-child(1) {
    width: 10px; 
}
.portfolio .portfolio_box:hover .more div:nth-child(3) {
    width: 10px; 
}
.portfolio .portfolio_box .box_left {
    background-color: #333333; border-radius: 15px;
    margin: 10px;
}
.portfolio .portfolio_box .box_left img {
    background-color: #333333; padding: 10px; border-radius: 15px;
}
.portfolio .portfolio_box .box_right {
    padding: 15px; margin: 0;
    background-color: #333333;
}
.portfolio .portfolio_box .box_right .right_top {
    background-color: #333333;}
.portfolio .portfolio_box .box_right .right_top h2 {
    background-color: #333333;
    font-size: 1.5rem; font-weight: 700;
}
.portfolio .portfolio_box .more {
        background-color: #333333;
        width: 20px;
        height: 40px;
        background: transparent;
        border: 0;
        margin-left: auto; margin-right: 20px; margin-top: 5px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        padding: 0;
    }
.portfolio .portfolio_box .more div:nth-child(3) {
    margin-left: auto;
}
.portfolio .portfolio_box .more div {
    width: 22px;
    height: 2px;
    background: #ececec77;
    border-radius: 2px;
    transition: all .2s ease;
    padding: 0; margin: 0;
}

.portfolio .portfolio_box .box_right p {
    background-color: #333333;
    padding: 15px; padding-left: 0;
}
.portfolio .portfolio_box .box_right .right_bottom {
    background-color: #333333;
    padding: 10px; padding-left: 0;
}
.portfolio .portfolio_box .box_right .right_bottom .pm{
    background-color: #2188B6; border-radius: 5px;
    margin: 3px; padding: 3px; color: #ffffff;
}
.portfolio .portfolio_box .box_right .right_bottom .mbr{
    background-color: #ececec77; border-radius: 5px;
    margin: 3px; padding: 3px;
}
.cohort {
    color: #ffffff;
    max-width: 1000px; width: 100%; margin: auto; padding: 10px;
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}
.cohort .cur {justify-self: center; margin:auto;}
.cohort .cur h2 {font-size: 1.3rem;}
.cohort .prev {justify-self: end; }
.cohort .prev .twenty-two {color: #ffffff;}
.footer_top {
    background-color: #333333;
    width: 100%; margin: auto;
}
.footer_top .footer_box {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: #333333;
    width: 1000px; margin: 0 auto;
    padding-top: 20px; padding-bottom: 20px;
}
.footer_top .footer_box .footer_top_left {
    display: grid;
}
.footer_top .footer_box .footer_top_left .top_left_top {
    background-color: #333333;
    padding-top: 8px; padding-bottom: 8px;
}
.footer_top .footer_box .footer_top_left .top_left_top .logo{
    background-color: #333333;
}
.footer_top .footer_box .footer_top_left .top_left_top .rule {
    background-color: #333333; color: #ffffff;
}
.footer_top .footer_box .footer_top_left .top_left_top .rule:hover{
    transform: translateY(-2px);
    display: inline-block;
}
.footer_top .footer_box .footer_top_left .top_left_middle {
    background-color: #333333;
    padding-top: 8px; padding-bottom: 8px;
}
.footer_top .footer_box .footer_top_left .top_left_middle img {background-color: #333333;} 
.footer_top .footer_box .footer_top_left .top_left_middle .img {
    background-color: #333333;
    padding-right: 5px;
}
.footer_top .footer_box .footer_top_left .top_left_middle .img:hover{
    transform: translateY(-2px);
    display: inline-block;
}
.footer_top .footer_box .footer_top_left .top_left_bottom {
    background-color: #333333;
    border: 0;;
    width: 300px;
    padding-top: 8px; padding-bottom: 8px;
}
.footer_top .footer_box .footer_top_left .top_left_bottom img {background-color: #333333;} 
.footer_top .footer_box .footer_top_left .top_left_bottom .mail {
    background-color: #333333;
    padding-right: 5px; color: #ffffff;
    display: flex; justify-content: space-around;
}
.footer_top .footer_box .footer_top_left .top_left_bottom .mail:hover{
    transform: translateY(-2px);
}
.footer_top .footer_box .footer_top_right {
    background-color: #333333;
    padding: 10px; margin: 0; margin: auto; margin-right: 0;
}
.footer_top .footer_box .footer_top_right .list { 
    background-color: #333333;
    padding: 10px; border-right: 1px #ececec77 solid; color: #ffffff;
    padding-top: 0; padding-bottom: 0;
}
.footer_top .footer_box .footer_top_right .list:nth-child(6) {
    border: 0;
}
.footer_top .footer_box .footer_top_right .list:hover{
    transform: translateY(-2px);
    display: inline-block;
}
.footer_bottom {background-color: #282828; text-align: center; color: #ffffff; padding: 10px; width: 100%;}