* {box-sizing: border-box; background-color: black;}
html, body, h1, h2, p, div, span footer main,
img, a {
    margin: 0;
    padding: 0;
    line-height: 1.0;
    font-size: 1.0rem;
    font-style: normal;
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif;
}
a { color: #000; text-decoration: none; }